{% extends "base.html" %}
{% block content %}
<form class="input-group" action="/add" method="post">
    {{ form.hidden_tag() }}
    <span>Money:{{ form.money(class="form-control") }}</span>
</form>

<form class="input-group" action="/add" method="post">
    {{ form.hidden_tag() }}
    <span>Shop: {{ form.shop(class="form-control") }}</span>
</form>

<form class="input-group" action="/add" method="post">
    {{ form.hidden_tag() }}
    <span>Content: {{ form.content(class="form-control") }}</span>

</form>

    <form class="input-group-btn">
            {{ form.hidden_tag() }}
         <button class="btn btn-primary" type="submit">Add</button>
    </form>

{%for error in form.errors.content %}

<div class="flash alert-danger"><span>{{ error }}</span></div>

{% endfor %}

<div>
<h2>记账本</h2>
{% if todos %}
    <table class="table">
    <thead>
        <tr>
            <th>money</th>
            <th>content</td>
            <th>shop</th>
            <th>time</td>
            <th>operation</td>
        </tr>
    </thead>
    <tbody>
     {% for t in todos %}

            <tr class="info">
                <td>{{ t.money }}</td>
                <td>{{ t.content }}</td>
                <td>{{ t.shop }}</td>
                <td>{{ t.time.strftime('%H:%M %d-%m-%Y') }}</td>
                <td>
                    <a href="/delete/{{ t.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    <h3 class="text-info">No bills ,please add it</h3>
{% endif %}
</div>

{% endblock %}